<h2>NEW IN</h2>
<div class="new-in__productos">
    <div class="contenedor-producto animated fadeIn fast">
        <div class="detalle__img">
            <figure>
                <img class="producto__img" [src]="producto.img" alt="">
            </figure>
        </div>
        <div class="detalle__descripcion">
            <h4 class="producto__descripcion">{{producto.descripcion}}</h4>
            <p class="producto__color">{{producto.color}}</p>
            <p class="producto__precio">{{producto.precio}}</p>
            <p>Tenemos el placer de presentarte nuestro uniforme en antifluido de excelente calidad con diseños únicos, que se adaptan perfectamente a la figura de la persona. Este producto es elaborado 100% en Colombia, utilizando textiles nacionales de
                alta calidad que garantizan durabilidad y confort para el usuario. Nuestro uniforme está disponible en una amplia gama de colores y diseños únicos, lo que permite a nuestros clientes elegir la mejor opción para su empresa o institución.
                Además, ofrecemos la opción de mandar a elaborar el uniforme en cualquiera de nuestros diseños y colores disponibles. Nuestro antifluido es resistente al agua y a líquidos, lo que lo convierte en una opción ideal para profesionales que
                trabajan en ambientes húmedos o con riesgo de derrames. Además, su tejido es transpirable, lo que permite una ventilación adecuada y una mayor comodidad durante todo el día.</p>
            <p>

            </p>
            <p>

            </p>
        </div>
    </div>
</div>