<div class="box-productos">
    <h3>Tipo de producto</h3>
    <div class="productos">
        <label class="productos__item" for=""><input type="checkbox">Tops</label>
        <label class="productos__item" for=""><input type="checkbox">Pantalones</label>
        <label class="productos__item" for=""><input type="checkbox">Blusas</label>
        <label class="productos__item" for=""><input type="checkbox">Batas</label>
        <label class="productos__item" for=""><input type="checkbox">Gorros</label>
        <label class="productos__item" for=""><input type="checkbox">Uniformes para hombre</label>
        <label class="productos__item" for=""><input type="checkbox">Uniformes para mujer</label>
    </div>
</div>