@import '../../../../assets/sass/variables';
.header {
    border-bottom: .2rem solid $gris-claro;
    .header__envios {
        padding: 1rem 0;
        background: #000;
        p {
            color: $blanco;
            margin: 0;
            font-family: $fuente-principal;
            font-size: 1.2rem;
        }
    }
    .contenedor {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .abrir-menu {
            display: none;
        }
        .header__logo {
            width: 150px;
        }
        .menuClass {
            display: none;
        }
        .header__nav-bar {
            background: $blanco;
            display: block;
            .nav_bar {
                display: flex;
                margin: 0;
                &__item {
                    font-family: $fuente-principal;
                    font-weight: 500;
                    padding: 1rem 2rem;
                    font-size: 2rem;
                    box-sizing: border-box;
                    &:hover {
                        cursor: pointer;
                        color: $azul-primario;
                    }
                    &.active {
                        color: $azul-primario;
                    }
                }
            }
        }
        .header__icons {
            .nav-bar {
                &__icons {
                    display: flex;
                    gap: 1rem;
                    li {
                        width: 38px;
                        height: 30px;
                        cursor: pointer;
                        .icon-nav-bar {
                            display: block;
                            width: 33px;
                            height: 25px;
                            object-fit: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: auto 100%;
                            &.search {
                                background-image: url('../../../../assets/icons/icon-search-black.png');
                                &:hover {
                                    background-image: url('../../../../assets/icons/icon-search-blue.png');
                                }
                            }
                            &.user {
                                background-image: url('../../../../assets/icons/icon-user-black.png');
                                &:hover {
                                    background-image: url('../../../../assets/icons/icon-user-blue.png');
                                }
                            }
                            &.cart {
                                background-image: url('../../../../assets/icons/icon-cart-black.png');
                                &:hover {
                                    background-image: url('../../../../assets/icons/icon-cart-blue.png');
                                }
                            }
                        }
                    }
                }
            }
        }
        .button-menu {
            display: none;
        }
    }
    .foto-apertura {
        width: 100%;
        height: 500px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
}

@media screen and (min-width:813px) and (max-width:870px) {
    .header {
        .contenedor {
            .header__logo {
                width: 100px;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:812px) {
    .header {
        .contenedor {
            position: relative;
            align-items: center;
            .header__logo {
                width: 100px;
            }
            .header__nav-bar {
                position: absolute;
                transition: .5s;
                right: 0;
                top: 5rem;
                box-shadow: -5px 5px 8px -5px rgb(0 0 0 / 50%);
                .nav_bar {
                    flex-direction: column;
                    text-align: end;
                    &__item {
                        margin: 0;
                        font-size: 1.5rem;
                        &.active {
                            border-bottom: 0;
                        }
                        &:hover {
                            border: none;
                        }
                    }
                }
                &.menuClass {
                    right: -180px;
                }
            }
            .header__icons {
                .nav-bar__icons {
                    margin-bottom: 0;
                }
            }
            .button-menu {
                border: none;
                background: transparent;
                span {
                    width: 32px;
                    height: 3px;
                    background: $negro;
                    display: block;
                    border-radius: 1rem;
                    margin: .4rem;
                }
            }
            .button-menu {
                display: block;
            }
        }
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .header {
        .contenedor {
            position: relative;
            align-items: center;
            .header__logo {
                width: 100px;
            }
            .header__nav-bar {
                position: absolute;
                transition: .5s;
                right: 0;
                top: 5rem;
                box-shadow: -5px 5px 8px -5px rgb(0 0 0 / 50%);
                .nav_bar {
                    flex-direction: column;
                    text-align: end;
                    &__item {
                        margin: 0;
                        font-size: 1.5rem;
                        &.active {
                            border-bottom: 0;
                        }
                        &:hover {
                            border: none;
                        }
                    }
                }
                &.menuClass {
                    right: -180px;
                }
            }
            .header__icons {
                .nav-bar__icons {
                    margin-bottom: 0;
                }
            }
            .button-menu {
                border: none;
                background: transparent;
                span {
                    width: 32px;
                    height: 3px;
                    background: $negro;
                    display: block;
                    border-radius: 1rem;
                    margin: .4rem;
                }
            }
            .button-menu {
                display: block;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .header {
        .contenedor {
            position: relative;
            align-items: center;
            .header__logo {
                width: 100px;
            }
            .abrir-menu {
                display: block;
            }
            .header__nav-bar {
                position: absolute;
                transition: .5s;
                right: 0;
                top: 5rem;
                box-shadow: -5px 5px 8px -5px rgb(0 0 0 / 50%);
                .nav_bar {
                    flex-direction: column;
                    text-align: end;
                    &__item {
                        margin: 0;
                        font-size: 1.5rem;
                        &.active {
                            border-bottom: 0;
                        }
                        &:hover {
                            border: none;
                        }
                    }
                }
                &.menuClass {
                    right: -180px;
                }
            }
            .header__icons {
                .nav-bar {
                    &__icons {
                        margin-bottom: 0;
                        align-items: center;
                        li {
                            display: flex;
                            align-items: center;
                            .icon-nav-bar {
                                height: 20px;
                            }
                        }
                    }
                }
            }
            .button-menu {
                border: none;
                background: transparent;
                span {
                    width: 2rem;
                    height: 0.20rem;
                    background: $negro;
                    display: block;
                    border-radius: 1rem;
                    margin: .3rem;
                }
            }
            .button-menu {
                display: block;
            }
        }
    }
}