@import '../../../assets/sass/variables';
h2 {
    margin-bottom: 3rem;
}

.new-in__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .contenedor-producto {
        width: 100%;
        text-decoration: none;
        border-radius: 8px;
        overflow: hidden;
        padding: 1rem;
        color: $negro;
        /* 
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
        .producto {
            &__img {
                object-fit: cover;
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                margin-bottom: 2rem;
            }
            &__descripcion {
                font-family: $fuentes-headings;
            }
            &__color {
                font-family: $fuente-principal;
                font-size: 1.5rem;
                line-height: 2rem;
                margin: 0;
            }
            &__precio {
                font-family: $fuente-principal;
                font-size: 1.5rem;
                line-height: 2rem;
                margin: 0;
            }
        }
    }
}