<div class="antifluido">
    <div class="contenido-centrado">
        <h2 class="text-center">ANTIFLUIDO</h2>
        <div class="antifluido__container">
            <div class="antifluido__img">
                <figure>
                    <img src="../../../../assets/image/antifluido1.jpg" alt="">
                </figure>
            </div>
            <div class="antifluido__descripcion">
                <h3 class="antifluido__titulo">
                    ¿Que es el antifluido?
                </h3>
                <p class="antifluido__detalle">Las telas antifluidos son tejidos especialmente diseñados para repeler líquidos y mantener la ropa seca y limpia en ambientes húmedos o con riesgo de derrames. Estas telas se han vuelto cada vez más populares en diversos sectores, como
                    la salud, la alimentación, la limpieza y la industria, debido a sus excelentes características y beneficios.</p>
            </div>
        </div>
        <div class="antifluido__container">
            <div class="antifluido__img reorder">
                <figure>
                    <img src="../../../../assets/image/antifluido2.jpg" alt="">
                </figure>
            </div>
            <div class="antifluido__descripcion reorder">
                <h3 class="antifluido__titulo">
                    ¿Que es el antifluido?
                </h3>
                <p class="antifluido__detalle">Las telas antifluidos son tejidos especialmente diseñados para repeler líquidos y mantener la ropa seca y limpia en ambientes húmedos o con riesgo de derrames. Estas telas se han vuelto cada vez más populares en diversos sectores, como
                    la salud, la alimentación, la limpieza y la industria, debido a sus excelentes características y beneficios.</p>
            </div>
        </div>
        <div class="antifluido__container">
            <div class="antifluido__img">
                <figure>
                    <img src="../../../../assets/image/antifluido3.jpg" alt="">
                </figure>
            </div>
            <div class="antifluido__descripcion">
                <h3 class="antifluido__titulo">
                    ¿Que es el antifluido?
                </h3>
                <p class="antifluido__detalle">Las telas antifluidos son tejidos especialmente diseñados para repeler líquidos y mantener la ropa seca y limpia en ambientes húmedos o con riesgo de derrames. Estas telas se han vuelto cada vez más populares en diversos sectores, como
                    la salud, la alimentación, la limpieza y la industria, debido a sus excelentes características y beneficios.</p>
            </div>
        </div>
    </div>
</div>