@import '../../../../assets/sass/variables';
.colores {
    margin-top: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 3px solid $gris-claro;
    h3 {
        margin-bottom: 2rem;
    }
    .colores__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        .color {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: .5rem;
            .color__circle {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                margin: 0;
            }
            .color__nombre {
                font-family: $fuente-principal;
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}