<div class="footer">
    <div class="contenedor">
        <div class="footer__info">
            <div class="footer__logo">
                <a href="#"> <img src="../../../../assets/image/logo-guiio-uniformes.png" alt="Logo"></a>

            </div>
            <div class="footer__enlaces">
                <h3 class="enlaces__titulo">
                    Información general
                </h3>
                <ul class="enlaces__info">
                    <li class="enlaces__item"><a href="#">Contacto</a></li>
                    <li class="enlaces__item"><a href="#">Donde estamos ubicados</a></li>
                    <li class="enlaces__item"><a href="#">Terminos y condiciones</a></li>
                    <li class="enlaces__item"><a href="#">Proceso de compra</a></li>
                </ul>

            </div>
            <div class="footer__redes">
                <h3>Nuestras Redes</h3>
                <ul class="redes">
                    <li>
                        <a href="#"><img class="icon-red-social" src="../../../../assets/icons/icon-facebook.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img class="icon-red-social" src="../../../../assets/icons/icon-instagram.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="footer__registrarse">
                <div class="contenedor-registro">
                    <h3>Regístrate</h3>
                    <div class="form-registrarse">
                        <input type="email">
                        <button>Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
        <p>© 2023, Guiio S.A.S</p>
    </div>
</div>